<h2>Reprocessed Efficiencies</h2>

This section contains efficiency information separated by waveform.
Each MDC set contains several different waveforms; X-Pipeline only 
produces efficiency curves and hrss limits for an MDC set as a whole.
I therefore used the script plot_efficiencies.m to read the closed-box 
matlab results files produced by xmakesnwbpage.m to produce results 
for each waveform separately.

The following results are produced by the script:
<ol>
<li> efficiency vs. hrss plots (all MDC sets);
<li> hrss50% and hrss90% values (all MDC sets);
<li> efficiency vs. distance plots (astrophysical MDC sets only: mueller, numerical, piro, rotbar).
</ol>
The script also contains a switch to correct the inclination distribution.
The MDCs were produced with inclination angle iota uniformly distributed 
on [0,pi].  We correct that by drawing a random number R 
uniformly distributed on [0,1] for each injection and discarding the 
injection if R>sin(iota). The remaining injections are thus uniformly 
distributed in cos(iota).
The above results are generated twice: once with the original inclination 
distribution, and again with the corrected inclination distribution.
<p>
Note that correcting the distribution should improve the efficiency for 
linearly polarised waveforms and reduce the efficiency for circularly 
polarised waveforms.
<p>
<b>Comments on normalisations:</b>
The MDCs were generated with the following properties:
<ul>
<li>mueller: all supernovae at a default (injection scale 1) distance of 10 kpc, 
with random orientation (but uniform in inclination).  The hrss differs for each 
orientation, so for the efficiency vs. hrss plot I used the median hrss of the 
plus polarisation as the hrss at injection scale 1.  This is not physically meaningful.
<li>numerical, piro, rotbar: all at a default (injection scale 1) distance of 10 kpc, 
with random uniform inclination.  For these waveforms the efficiency vs. hrss plots 
use the hrss of the optimally oriented source at 10 kpc as the injection scale 1 hrss.
<li>sgel: the elliptically polarised sine-Gaussians all have hrss=1e-21 at injection 
scale 1. The plus and cross polarisations have amplitudes that differ as expected 
according to the inclination (i.e., in the ratio h+:hx = 0.5*(1+cos(iota)^2):cos(iota)).
However, the overall amplitude of each injection is then rescaled so that the total hrss 
is always exactly 1e-21.
<li>sglin: the linearly polarised sine-Gaussians all have hrss=1e-21 at injection 
scale 1. No amplitude factors are applied for the inclination.
</ul>
With these properties, only the efficiency vs. distance plots are meaningful 
for the mueller, numerical, piro, and rotbar waveforms (the hrss results are only 
useful for comparing codes). The sine-Gaussians have no physical distance scale, 
so only efficiencies vs. hrss are produced.

<h2>Efficiencies BEFORE Correcting Inclination Distribution</h3>

<h3>Efficiency vs. hrss</h3>
<table>
<tr>
<td><A HREF="unifiota/SN2011dh-G1V1-mueller_long_eff-vs-hrss.png"><IMG BORDER="0" HEIGHT="422" SRC="unifiota/SN2011dh-G1V1-mueller_long_eff-vs-hrss.png"></A></td>
</tr>
<tr>
<td><A HREF="unifiota/SN2011dh-G1V1-numerical_long_eff-vs-hrss.png"><IMG BORDER="0" HEIGHT="422" SRC="unifiota/SN2011dh-G1V1-numerical_long_eff-vs-hrss.png"></A></td>
</tr>
<tr>
<td><A HREF="unifiota/SN2011dh-G1V1-piro_long_eff-vs-hrss.png"><IMG BORDER="0" HEIGHT="422" SRC="unifiota/SN2011dh-G1V1-piro_long_eff-vs-hrss.png"></A></td>
</tr>
<tr>
<td><A HREF="unifiota/SN2011dh-G1V1-rotbar_long_eff-vs-hrss.png"><IMG BORDER="0" HEIGHT="422" SRC="unifiota/SN2011dh-G1V1-rotbar_long_eff-vs-hrss.png"></A></td>
</tr>
<tr>
<td><A HREF="unifiota/SN2011dh-G1V1-sgel_long_eff-vs-hrss.png"><IMG BORDER="0" HEIGHT="422" SRC="unifiota/SN2011dh-G1V1-sgel_long_eff-vs-hrss.png"></A></td>
</tr>
<tr>
<td><A HREF="unifiota/SN2011dh-G1V1-sglin_long_eff-vs-hrss.png"><IMG BORDER="0" HEIGHT="422" SRC="unifiota/SN2011dh-G1V1-sglin_long_eff-vs-hrss.png"></A></td>
</tr>
</table>
<pre>
hrss limits before inclination distribution correction:
=======================================================

