</pre>

<h3>Efficiency vs. distance</h3>
<table>
<tr>
<td><A HREF="unifciota/SN2011dh-G1V1-mueller_long_eff-vs-dist.png"><IMG BORDER="0" HEIGHT="422" SRC="unifciota/SN2011dh-G1V1-mueller_long_eff-vs-dist.png"></A></td>
</tr>
<tr>
<td><A HREF="unifciota/SN2011dh-G1V1-numerical_long_eff-vs-dist.png"><IMG BORDER="0" HEIGHT="422" SRC="unifciota/SN2011dh-G1V1-numerical_long_eff-vs-dist.png"></A></td>
</tr>
<tr>
<td><A HREF="unifciota/SN2011dh-G1V1-piro_long_eff-vs-dist.png"><IMG BORDER="0" HEIGHT="422" SRC="unifciota/SN2011dh-G1V1-piro_long_eff-vs-dist.png"></A></td>
</tr>
<tr>
<td><A HREF="unifciota/SN2011dh-G1V1-rotbar_long_eff-vs-dist.png"><IMG BORDER="0" HEIGHT="422" SRC="unifciota/SN2011dh-G1V1-rotbar_long_eff-vs-dist.png"></A></td>
</tr>
</table>

