</pre>

<h3>Efficiency vs. distance</h3>
<table>
<tr>
<td><A HREF="unifciota/SN2007gr-H1H2L1V1-mueller5_eff-vs-dist.png"><IMG BORDER="0" HEIGHT="422" SRC="unifciota/SN2007gr-H1H2L1V1-mueller5_eff-vs-dist.png"></A></td>
</tr>
<tr>
<td><A HREF="unifciota/SN2007gr-H1H2L1V1-numerical3_eff-vs-dist.png"><IMG BORDER="0" HEIGHT="422" SRC="unifciota/SN2007gr-H1H2L1V1-numerical3_eff-vs-dist.png"></A></td>
</tr>
<tr>
<td><A HREF="unifciota/SN2007gr-H1H2L1V1-piro5_eff-vs-dist.png"><IMG BORDER="0" HEIGHT="422" SRC="unifciota/SN2007gr-H1H2L1V1-piro5_eff-vs-dist.png"></A></td>
</tr>
<tr>
<td><A HREF="unifciota/SN2007gr-H1H2L1V1-rotbar5_eff-vs-dist.png"><IMG BORDER="0" HEIGHT="422" SRC="unifciota/SN2007gr-H1H2L1V1-rotbar5_eff-vs-dist.png"></A></td>
</tr>
</table>

